# Heli Wang
# 2014/07/17
#
# deploy/deploy.yml
#
# Ansible playbook for running varstar deploy

---

- hosts: local
  user: oklrelease
  vars_files:
    - "{{ ans_loc }}/roles/common/vars/deploy.yml"
  tasks:
    - include: "{{ ans_loc }}/roles/common/tasks/deploy.yml"

    - name: clean target
      command: chdir="{{ release_dir }}"
               /usr/local/bin/lein clean

    - name: build target
      command: chdir="{{ release_dir }}"
               /usr/local/bin/lein uberjar

- hosts: varstar
  user: okluser
  vars_files:
    - "{{ ans_loc }}/roles/common/vars/deploy.yml"
  tasks:
    - name: start webserver
      command: chdir="{{ release_dir }}"
              /usr/local/bin/lein ring server
